extends list-layout

block content
  a(href="/events/1", class="link-card")
    .card.mt-3
      .card-body
        .row
          .col-2.col-lg-1.text-center
            img(src='https://illuminatisymbols.info/wp-content/uploads/illuminati-symbols-Starbucks-Coffee-Logo.gif' height="55" width="60")
          .col-10.col-lg-11
            p.mb-0 Buy Oreo Cheesecake at 3pm-4pm
            small.text-muted Valid until August 2019
  
  a(href="/events/2", class="link-card")
    .card.mt-3
      .card-body
        .row
          .col-2.col-lg-1.text-center
            img(src='https://cdn.shopify.com/s/files/1/1123/7156/products/a-mega_1024x1024.png?v=1507843973' height="55" width="60")
          .col-10.col-lg-11
            p.mb-0 Visit our new branch in Manila
            small.text-muted Valid until August 2019
  
  a(href="/events/2", class="link-card")
    .card.mt-3
      .card-body
        .row
          .col-2.col-lg-1.text-center
            img(src='https://sa.kapamilya.com/absnews/abscbnnews/media/2018/tvpatrol/08/13/20180813-puregold.jpg' height="55" width="60")
          .col-10.col-lg-11
            p.mb-0 Spend atleast P1000.00 worth of groceries
            small.text-muted Valid until August 2019