extends list-layout

block content
  each event in events
    a(href="/events/"+event.id, class="link-card")
      .card.mt-3
        .card-body
          .row
            .col-2.col-lg-1.text-center
              img(src=event.imgUrl height="55" width="60")
            .col-10.col-lg-11
              p.mb-0= event.name
              small.text-muted= event.expiryDate
