body {
  background: #f5f5f5;
  padding-top: 6rem;
}

.main-nav {
  background: #ffffff;
  top: 56px;
}

.nav-item.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
}
