

.list-container {
  margin-top: 6rem;
}

.view-container {
  margin-top: 3.5rem;
}

.main-nav {
  background: #ffffff;
  top: 56px;
}

.nav-item.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
}

.link-card,
a.link-card:hover {
  color: inherit;
  text-decoration: none;
}
